<li class="p-3">
  <%= link_to path do %>
    <div class="flex">
      <span class="h-8 w-8 flex px-1 mr-2">
        <%= image_tag icon %>
      </span>
      <%= nav_item %>
    </div>
  <% end %>
</li>
