<div class="container h-screen mx-auto flex justify-center">
  <div class="basis-3/12 flex justify-end">
    <div class="px-4">
      <%= render partial: 'share/navigation', locals: { current_page: 'tweets_index' } %>
    </div>
  </div>
  <div class="basis-6/12 border-x">
    <%= render partial: 'home_content' %>
  </div>
  <div class="basis-3/12">
    <%= render partial: 'share/right_sidebar' %>
  </div>
</div>