<%= turbo_frame_tag :main, data: { turbo_action: :advance } do %>
  <h2 class="text-lg font-bold p-3">
    <%= link_to '←', :back, data: { turbo_frame: :main } %>
    ツイート
  </h2>
  <%= turbo_frame_tag :tweet_detail do %>
    <ul>
      <%= render partial: 'share/tweet_item', locals: { tweet: @tweet } %>
    </ul>
  <% end %>
<% end %>
