<%= turbo_frame_tag :follower_count do %>
  <div class="p-3 hover:underline duration-150">
    <span class="font-bold"><%= @user.followees.size %></span>
    <span class="text-gray-500">フォロワー</span>
  </div>
<% end %>
