<div class="container h-screen mx-auto flex justify-center">
  <div class="basis-3/12 flex justify-end">
    <div class="px-4">
      <%= render partial: 'share/navigation', locals: { current_page: user_signed_in? && @user.id == current_user.id ? 'users_show_current_user' : 'users_show' } %>
    </div>
  </div>
  <div class="basis-6/12 border-x">
    <%= render partial: 'user_info' %>
    <%= render partial: 'user_tweets' %>
  </div>
  <div class="basis-3/12">
    <%= render partial: 'share/right_sidebar' %>
  </div>
</div>