<%= turbo_frame_tag :main, data: { turbo_action: :advance } do %>
  <h2 class="text-lg font-bold p-3">ホーム</h2>
  <%= turbo_frame_tag :tweet_new, src: new_tweet_path, loading: :lazy %>
  <%= turbo_frame_tag :tweets_index, src: tweets_path, loading: :lazy %>
<% end %>
